nav {
  background-color: black;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .2);
  height: 80px;
  line-height: 80px;
}

nav a {
  color: white !important;
  font-weight: 500;
  font-size: 18px !important;
}

nav a:hover {
  background-color: white !important;
  color: black !important;
}

nav .brand-logo:hover {
  background-color: transparent !important;
}

nav a i {
  font-size: 18px;
  margin-right: 5px;
}

button, .cta {
  border-radius: 30px !important;
  background-color: black !important;
}

button:hover {
  opacity: 0.7;
}

h2,
h3 {
  margin-top: 55px
}

/* Sign up and Login user redirects */
.guide-user {
  color: red;
}

.guide-user:hover {
  opacity: 0.7;
}

.hero-home {
  background: url(../images/airjordan3hero.jpeg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 650px;
  max-width: 100% !important;
}

@media screen and (min-width:1024px) and (max-width:1900px) {
.cta {
  margin-top: 580px;
  margin-bottom: 20px
}
}

@media(max-width: 768px) {
  .hero-home {
    background-position-x: 85%;
    background-size: cover;
    min-height: 410px
  }
  .cta {
    margin-top: 380px;
    margin-bottom: 20px
  }
}

/* Keep all card containers and images the same height */
.card img {
  max-height: 230px;
  object-fit: cover;
}

.card-content a {
  color: red;
}


