{% extends "base.html" %}
{% block content %}

<div class="container">
    <h3 class="center">ADD Category</h3>
</div>


<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="{{ url_for('add_category')}}">
        <div class="card-panel">
            <!-- Category name input -->
            <div class="row tooltipped" data-position="top" data-tooltip="Please enter name of shoe min 5 characters">
                <div class="input-field col s12">
                    <i class="fas fa-check-circle prefix" aria-hidden="true"></i>
                    <input id="category_name" name="category_name" minlength="5" maxlength="20" type="text" class="validate"
                        required>
                    <label for="category_name">Category Name</label>
                </div>
            </div>
            <!-- Submit button -->
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="buttons btn-large text-shadow">
                        Add Category <i class="fas fa-plus-square right" aria-hidden="true"></i>
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}