{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2 class="center">Add Your Sneakers</h2>
</div>


<div class="row">
    <form class="col s12 m8 offset-m2" method="POST" action="">
        <div class="card-panel">
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-check-circle prefix"></i>
                    <input id="category_name" name="category_name" minlength="5" maxlength="50" type="text"
                        class="validate" required>
                    <label for="category_name">Category</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-check-circle prefix"></i>
                    <input id="shoe_name" name="shoe_name" minlength="5" maxlength="50" type="text" class="validate">
                    <label for="shoe_name">Shoe Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-check-circle prefix"></i>
                    <input id="release_year" name="release_year" minlength="5" maxlength="50" type="number"
                        class="validate">
                    <label for="release_year">Release Year</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-check-circle prefix"></i>
                    <textarea id="shoe_description" name="shoe_description" minlength="5" maxlength="200"
                        class="materialize-textarea validate" required></textarea>
                    <label for="shoe_description">Shoe Description</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <i class="fas fa-check-circle prefix"></i>
                    <input id="image_url" name="image_url" type="text" class="validate">
                    <label for="image_url">Image Link</label>
                </div>
            </div>
        </div>
    </form>
</div>

{% endblock %}