{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <h2 class="center">SNEAKERFANS</h2>
    </div>
</div>

<div class="container search-box">
    <div class="row card-panel">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12 m8">
                    <i class="fas fa-search prefix"></i>
                    <input type="text" name="query" id="query" minlength="3" class="validate" required>
                    <label for="query">Search All Sneakers</label>
                </div>
                <div class="col s12 m4">
                    <a href="{{ url_for('all_sneakers') }}" class="red btn text-shadow">Reset</a>
                    <button type="submit" class="search-form text-shadow white-text">
                        <i class="fas fa-search left"></i>
                        Search
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
    <!-- Loop over all items from .sneakers collection using .find -->

    {% if sneakers|length > 0 %}
    <div class="row">
        {% for sneaker in sneakers %}
            <div class="col s12 m3 l4">
                <a href="{{ url_for('full_info', sneaker_id=sneaker._id) }}">
                    <div class="card tooltipped" data-position="top" data-tooltip="Click for more info">
                        <div class="card-image waves-effect waves-block waves-light">
                            <!-- Show image from database -->
                            <img class="activator" src="{{ sneaker.image_url }}">
                        </div>
                        <div class="card-content">
                            <!-- Show title, shoename and user from database -->
                            <span class="card-title activator">{{ sneaker.category_name.capitalize() }}</span>
                            <p class="shoe-name">{{ sneaker.shoe_name.title() }}</p>
                            <p>Added by: <em>{{ sneaker.user }}</em></p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
    </div>
    {% else %}
        <h2 class="center red-text text-shadow">No Results Found!</h2>
    {% endif %}

{% endblock %}
