{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <h2 class="center">Manage Categories</h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_category') }}" class="buttons btn-large text-shadow">
            Add Category <i class="fas fa-plus-square right" aria-hidden="true"></i>
        </a>
    </div>
</div>



<div class="row">
    {% for category in categories %}
        <!-- Defensive programming modal -->
        <div id="modal-{{ loop.index }}" class="modal">
            <div class="modal-content">
                <h4 class="center-align">Are You Sure?</h4>
            </div>
            <div class="center-align">
                <img src="{{url_for('static', filename='images/jumpman.png')}}" alt="Air Jordan Logo">
            </div>
            <div class="modal-footer">
                <a href="{{ url_for('get_categories') }}" class="buttons-2 btn red text-shadow">No <i
                        class="fas fa-times-circle right" aria-hidden="true"></i></a>
                <a href="{{ url_for('delete_category', category_id=category._id)}}"
                    class="buttons-2 modal-close black btn">Yes <i class="fas fa-check-circle"
                        aria-hidden="true"></i></a>
            </div>
        </div>
        <!-- Category cards -->
        <div class="col s12 m3 l3">
            <div class="card grey lighten-3">
                <div class="center-align card-content white-text">
                    <span class="card-title">{{ category.category_name.capitalize() }}</span>
                </div>
                <!-- Edit and Delete categories -->
                <div class="card-action center-align">
                    <a href="{{ url_for('edit_category', category_id=category._id)}}"
                        class="buttons-2 btn black text-shadow">Edit <i class="fas fa-edit" aria-hidden="true"></i></a>
                    <a href="#modal-{{ loop.index }}" class="buttons-2 btn red text-shadow modal-trigger">Delete <i
                            class="fas fa-trash-alt" aria-hidden="true"></i></a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}