{% extends "base.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <h2 class="center">Manage Categories</h2>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col s12 center-align">
        <a href="{{ url_for('add_category') }}" class="buttons btn-large text-shadow">
            Add Category <i class="fas fa-plus-square right" aria-hidden="true"></i>
        </a>
    </div>
</div>

<div class="row manage">
    {% for category in categories %}
        <div class="col s12 m3 l3">
            <div class="card grey lighten-3">
                <div class="center-align card-content white-text">
                    <span class="card-title">{{ category.category_name.capitalize() }}</span> 
                </div>
                <div class="card-action center-align">
                    <a href="{{ url_for('edit_category', category_id=category._id)}}" class="manage btn black text-shadow">Edit</a>
                    <a href="#" class=" manage btn red text-shadow">Delete</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>

{% endblock %}