{% extends "base.html" %}
{% block content %}

<div class="container">
    <!-- Category -->
    <div class="row">
        <h2 class="center-align">{{ sneaker.shoe_name.title() }}</h2>
    </div>
</div>
<!-- Recipe info & image -->
<div class="full row">
    <div class=" col s12 m5 l5">
        <img class="full-image" src="{{ sneaker.image_url }}">
    </div>
    <div class="col s12 m7 l7">
        <div class="full-text">
            <p>
                <strong>Category:</strong>
                {{ sneaker.category_name.capitalize() }}
            </p>
            <p>
                <strong>Release Year:</strong>
                {{ sneaker.release_year }}
            </p>
            <p>
                <strong>Description:</strong>
                {{ sneaker.shoe_description }}
            </p>
            <p>
                <strong>Added By:</strong>
                {{ sneaker.user }}
            </p>
            <p>
                <strong>Date Added:</strong>
                {{ sneaker.date_added }}
            </p>
        </div>

        <!-- Only show edit and delete buttons if the sneakers belong to logged in user -->
        {% if session.user == sneaker.user %}
            <div class="col s12 m4 search-go">
                <a href="" class="black btn text-shadow">Edit</a>
                <a href="" class="red btn text-shadow">Delete</a>
            </div>
        {% endif %}

    </div>
</div>


{% endblock %}