{% extends "base.html" %}
{% block content %}
<!-- Capitalise the first letter of sentences
Credit: https://shubhamjain.co/til/capitalizing-first-letter-in-jinja/ -->
{% macro sentence_case(text) %}
    {{ text[0]|upper}}{{text[1:] }}
{% endmacro %}

<div class="container">
    <!-- Category -->
    <div class="row">
        <h2 class="center-align">{{ sneaker.shoe_name.title() }}</h2>
    </div>
</div>
<!-- Sneaker info & image -->
<div class="full row">
    <div class=" col s12 m5 l5">
        <!-- Show image from database or backup from images folder -->
        <img class="full-image" src="{{ sneaker.image_url }}" alt="Sneaker Image"
            onerror="this.onerror=null;this.src='../static/images/error-image.png';">
    </div>
    <div class="col s12 m7 l7">
        <div class="full-text">
            <p>
                <strong>Category:</strong>
                {{ sneaker.category_name.capitalize() }}
            </p>
            <p>
                <strong>Release Year:</strong>
                {{ sneaker.release_year }}
            </p>
            <p>
                <strong>Description:</strong>
                {{ sentence_case(sneaker.shoe_description) }}
            </p>
            <p>
                <strong>Added By:</strong>
                {{ sneaker.user }}
            </p>
            <p>
                <strong>Date Added:</strong>
                {{ sneaker.date_added }}
            </p>
        </div>

        <!-- Defensive programming delete modal -->
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4 class="center-align">Are You Sure?</h4>
            </div>
            <div class="center-align">
                <img src="{{url_for('static', filename='images/jumpman.png')}}" alt="Air Jordan Logo">
            </div>
            <div class="modal-footer">
                <a href="" class="modal-close buttons-2 btn red text-shadow">No <i
                        class="fas fa-times-circle right" aria-hidden="true"></i></a>
                <a href="{{ url_for('delete_sneakers', sneaker_id=sneaker._id) }}"
                    class="buttons-2 modal-close black btn">Yes <i class="fas fa-check-circle"
                        aria-hidden="true"></i></a>
            </div>
        </div>

        <!-- Only show edit and delete buttons if the sneakers belong to logged in user -->
        {% if session.user|lower == sneaker.user %}
            <div class="col s12 m4 search-go">
                <a href="{{ url_for('edit_sneakers', sneaker_id=sneaker._id) }}"
                    class="buttons-2 black btn text-shadow">Edit <i class="fas fa-edit" aria-hidden="true"></i></a>
                <button data-target="modal1" class="red btn text-shadow modal-trigger">Delete <i
                        class="fas fa-trash-alt" aria-hidden="true"></i></button>
            </div>
        {% endif %}

    </div>
</div>


{% endblock %}