{% extends "base.html" %}
{% block content %}

<div class="container">
    <!-- Category -->
    <div class="row">
        <h1 class="center-align">{{ sneaker.category_name }}</h1>
    </div>
    <!-- Recipe info & image -->
    <div class="row">
        <div class="col s12 m6">
            <img src="{{ sneaker.image_url }}">
        </div>
        <div class="col s12 m6">
            <div>
                <p>{{ sneaker.shoe_description }}</p>
            </div>
        </div>
    </div>
</div>


{% endblock %}