{% extends "base.html" %}
{% block content %}

<div class="row hero-home">
    <div class="hero-cta col s12 m12 l8 offset-l2 center-align">
        <a href="{{ url_for('sign_up') }}" type="submit"
            class="cta buttons col s6 offset-s3 m4 offset-m4 btn-large text-shadow white-text">Join Us</a>
    </div>
</div>

<div class="container">
    <div class="row">
        <h2 class="center">This Week's Sneaker Picks</h2>
    </div>
</div>
    
    <!-- Loop over all items from .sneakers collection using .find -->
    <div class="row">
        {% for sneaker in sneakers %}
            <div class="col s12 m3 l4">
                <a href="{{ url_for('full_info', sneaker_id=sneaker._id) }}">
                    <div class="card tooltipped" data-position="top" data-tooltip="Click for more info">
                        <div class="card-image waves-effect waves-block waves-light">
                            <!-- Show image from database -->
                            <img class="activator" src="{{ sneaker.image_url }}">
                        </div>
                        <div class="card-content">
                            <!-- Show title, shoename and user from database -->
                            <span class="card-title activator">{{ sneaker.category_name.capitalize() }}</span>
                            <p class="shoe-name">{{ sneaker.shoe_name.title() }}</p>
                            <p>Added by: <em>{{ sneaker.user }}</em></p>
                        </div>
                    </div>
                </a>
            </div>
        {% endfor %}
        </div>

{% endblock %}
