{% extends "base.html" %}
{% block content %}

<div class="row hero-home">
    <div class="hero-cta col s12 m12 l8 offset-l2 center-align">
        <a href="{{ url_for('sign_up') }}" type="submit"
            class="cta col s6 offset-s3 m4 offset-m4 btn-large text-shadow white-text">Join Us</a>
    </div>
</div>

<h2 class="center">Sneakers</h2>
    <!-- Loop over all items from .sneakers collection using .find -->

    {% for sneaker in sneakers %}
        {{ sneaker.category_name }} <br>
        {{ sneaker.shoe_name }} <br>
        {{ sneaker.release_year }} <br>
        {{ sneaker.shoe_description }} <br>
        {{ sneaker.date_added }} <br>
        {{ sneaker.user }} <br>
        {{ sneaker.image_url }} <br>
    {% endfor %}

{% endblock %}
